body{
	width: 100%;	
	padding: 0;
	margin: 0;
	position: relative;
	
}

.back{
	width: 7.5rem;	
	height: 1.4rem;
	background-image:linear-gradient(90deg,rgb(38,93,246),rgb(39,161,251));
	position: relative;
	
}
.top{
	width: 7.04rem;
	height: 0.8rem;
	background-image:linear-gradient(90deg,rgb(38,93,246),rgb(39,161,251));
	border-radius: 4%;
	position: absolute;
	left: 0.24rem;
	top: 0.48rem;
	text-align: center;
	color: white;
	font-size: 0.16rem;
	font-weight: bold;
	float: left;

	
}
.top p{
	font-size: 0.24rem;
}
.return{
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	left: 0.24rem;
	top: 0.24rem;
	
}
.top .f3{
	width: 13.2rem;
	height: 3.8rem;
	margin-left: -6.5rem;
	margin-top: 0.24rem;
}
.top .f4{
	margin-top: 0.8rem;
	width: 4.5rem;
	height: 0.6rem;
}
.top .f5{
	width: 100%;
	margin-top: 0.23rem;
	height: 4.3rem;
}
.top .f6{
	margin-left: 0.2rem;
	font-size: 0.24rem;
	margin-top: 1.24rem;
	color: gray;
}
.top p{
	font-size: 0.24rem;
	margin-left: -3.64rem;
}